body {
  background: #bdbdbd;
  margin: 0;
  font-family: Handlee, cursive;
}

header {
  text-align: center;
  background: white;
  padding: 10px;
}
div{
  box-sizing: border-box;
}
.post{
  background: white;
  margin-top: 10px;
}
.container{
  width: 600px;
  margin: auto;
  padding: 20px;
}
.post img{
  width: 100%;
}
.post h2, .post p{
  padding: 10px;
  margin: 0;
}
.post .post-header div:first-child{
  display: inline-block;
  width: 80%;
}
.post .post-header div:last-child{
  display: inline-block;
  width: 20%;
  text-align: right;
  padding: 5px;
  color: gray;
}